/* D3 Tree Styles */
#tree-container .node {
  cursor: pointer;
}

#tree-container .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#tree-container .node text {
  font: 10px sans-serif;
}

#tree-container .node text.prime {
  fill: #f00;
  fill-opacity: 1;
  stroke-width: 0;
}

#tree-container .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#tree-container {
  width: 100%;
  overflow: auto;
  padding: 0px;
  margin: 0px;

  border: 1px solid #f00;
}

#tree-container svg {
  height: 400px;

  border: 1px solid #0f0;
}
